<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="group32.android.cookbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".EditProfileActivity"></activity>
        <activity android:name=".LoginFeatures.LoginActivity" />
        <activity android:name=".LoginFeatures.SignupActivity" />
        <activity android:name=".LoginFeatures.ResetPasswordActivity" />
        <activity android:name=".SampleActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostDetailsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".NewPostActivity"></activity>
    </application>

</manifest>